@model CarDealershipAPI.Domain.Models.Car

@{
    ViewBag.Title = "Home Page";

    var makeItems = new List<SelectListItem>()
{
new SelectListItem
{
    Text = "Ford",
    Value = "Ford"
},
new SelectListItem
{
    Text = "Chevy",
    Value = "Chevy"
},
new SelectListItem
{
    Text = "GMC",
    Value = "GMC"
}
};

    var modelItems = new List<SelectListItem>()
{
new SelectListItem
{
    Text = "F150",
    Value = "F150"
},
new SelectListItem
{
    Text = "F151",
    Value = "F151"
},
new SelectListItem
{
    Text = "F152",
    Value = "F152"
}
};

    var colorItems = new List<SelectListItem>()
{
new SelectListItem
{
    Text = "Black",
    Value = "Black"
},
new SelectListItem
{
    Text = "Blue",
    Value = "Blue"
},
new SelectListItem
{
    Text = "Red",
    Value = "Red"
},
new SelectListItem
{
    Text = "Silver",
    Value = "Silver"
}
};
}


<h1 class="text-center">GC Car Dealership</h1>
<div class="row">
    <div class="col-md-4">
        <h2>View All Cars</h2>
        <p>@Html.ActionLink("All Cars", "GetCars", "Cars", new { area = "" }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-8">
        <h2>Something for everyone!</h2>
        <p>
            @using (@Html.BeginForm("SearchCars", "Cars", FormMethod.Get))
            {
                <div class="row">
                    @Html.DropDownListFor(model => model.Make, makeItems, "---SELECT MAKE---", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br />
                <div class="row">
                    @Html.DropDownListFor(model => model.Model, modelItems, "---SELECT MODEL---", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br />
                <div class="row">
                    @Html.DropDownListFor(model => model.Color, colorItems, "---SELECT COLOR---", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br />
                <div class="row">
                    @Html.EditorFor(phone => Model.Year)
                </div>
                <br />
                <input type="submit" value="Search" />
            }
        </p>
    </div>
</div>